
.main {
    background-color: #004175;
    border-color: #89DEEF;
}

.container {
    display: flex;
    flex-direction: row;}

.container2 {
    display: flex;
    flex-direction: row;
}

.container3 {
    display: flex;
    flex-direction: row;
}